<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,shrink-to-fit=no" />
        <title>dynamic test</title>
    </head>
    <body>
        <template>hredh<div>hredhfrde<div>hrdfdhehfde</div>ges<audio src="https://f.ljm.im/files/%E9%9F%B3%E4%B9%90/mp3/Lullatone%20-%20the%20very%20first%20palm%20tree%20of%20spring%20break.mp3">sda</audio>wdgswgdg<p>hredhde</p>hredhd</div></template>
        <template tuid="test--1---3---4"><div>template with tuid.</div></template>
        <template dynamic><p>我不应该出现在文档里！</p></template>
        <template tuid="rfwaw32q--a32" nodynamic><div>我不应该出现在模板中</div></template>
        <div id="ygy" style="border:1px solid #000"></div>
    </body>
    <script src="../../dist/dynamic.js"></script>
    <script src="template-convert.js"></script>
</html>